# virtual environments
day1_namebandgenerator/venv
day2_paymentrestaurantcalc/venv
day3_treasureisland/venv
day4_rockpaperscissors/venv
day5_text_passgen/venv
day7_hangman/venv
day15_coffee_machine/venv
day16_oop-coffee-machine/venv
day17_quiz-game-start/venv
day18_hirst_paint/venv
day18-start/venv
day19_start/venv
day20_21_snake_game/venv
day21-start/venv
day22_pong/venv
day23_turtle-crossing/venv
day24_mail_merge_project/venv
day25_pandas_squirrels/venv
day25_us-states-game/venv
day26_nato_alphabet/venv
day26_NATO-alphabet-2/venv
day27_tkinter_test/venv
day28-pomodoro/venv
day29_password-manager/venv
day30_exceptions_errors.py/venv
day31-flash-cards/venv
day32-Birthday Wisher/venv
day33_API/venv
day34_quizzler-app/venv
day35_API_keys_more/venv
day36_stock-news/venv
day37_API_HTTP_requests/venv
day38_workout_tracker_google_shit/venv
day39_day40_flight-deals/venv
day45_bs4/venv
day46_popular_music/venv
day47_price_scraper_ccc/venv
day48_selenium/venv
day52_instagram_follow_selenium/venv
day54_backend_flask/venv
day55_higher_lower_flask/venv
day56_flask_personal_site/venv
day56_name_card/venv
day57_blog_templating_flask/venv
day57_jinja_flask_URLs/venv
day81_morse_code_converter/venv
day83_tic_tac_toe/venv
day101_google_forms_API/venv



# Pycharm configs
day1_namebandgenerator/.idea
day2_paymentrestaurantcalc/.idea
day3_treasureisland/.idea
day4_rockpaperscissors/.idea
day5_text_passgen/.idea
day7_hangman/.idea
day15_coffee_machine/.idea
day16_oop-coffee-machine/.idea
day17_quiz-game-start/.idea
day18_hirst_paint/.idea
day18-start/.idea
day19_start/.idea
day20_21_snake_game/.idea
day21-start/.idea
day22_pong/.idea
day23_turtle-crossing/.idea
day24_mail_merge_project/.idea
day25_pandas_squirrels/.idea
day25_us-states-game/.idea
day26_nato_alphabet/.idea
day26_NATO-alphabet-2/.idea
day27_tkinter_test/.idea
day28-pomodoro/.idea
day29_password-manager/.idea
day30_exceptions_errors.py/.idea
day31-flash-cards/.idea
day32-Birthday Wisher/.idea
day33_API/.idea
day34_quizzler-app/.idea
day35_API_keys_more/.idea
day36_stock-news/.idea
day37_API_HTTP_requests/.idea
day38_workout_tracker_google_shit/.idea
day39_day40_flight-deals/.idea
day45_bs4/.idea
day46_popular_music/.idea
day47_price_scraper_ccc/.idea
day48_selenium/.idea
day52_instagram_follow_selenium/.idea
day54_backend_flask/.idea
day55_higher_lower_flask/.idea
day56_flask_personal_site/.idea
day56_name_card/.idea
day57_blog_templating_flask/.idea
day57_jinja_flask_URLs/.idea
day81_morse_code_converter/.idea
day83_tic_tac_toe/.idea
day101_google_forms_API/.idea
