# virtual environments
day_1_namebandgenerator/venv
day_2_paymentrestaurantcalc/venv
day_3_treasureisland/venv
day_4_rockpaperscissors/venv
day_5_text_passgen/venv
day_7_hangman/venv
day_15_coffee_machine/venv
day_16_oop-coffee-machine/venv
day_17_quiz-game-start/venv
day_18_hirst_paint/venv
day_18-start/venv
day_19_start/venv
day_20_21_snake_game/venv
day_21-start/venv
day_22_pong/venv
day_23_turtle-crossing/venv
day_24_mail_merge_project/venv
day_25_pandas_squirrels/venv
day_25_us-states-game/venv
day_26_nato_alphabet/venv
day_26_NATO-alphabet-2/venv
day_27_tkinter_test/venv
day_28-pomodoro/venv
day_29_password-manager/venv
day_30_exceptions_errors.py/venv
day_31-flash-cards/venv
day_32-Birthday Wisher/venv
day_33_API/venv
day_34_quizzler-app/venv
day_35_API_keys_more/venv
day_36_stock-news/venv
day_37_API_HTTP_requests/venv
day_38_workout_tracker_google_shit/venv
day_39_day40_flight-deals/venv
day_45_bs4/venv
day_46_popular_music/venv
day_47_price_scraper_ccc/venv
day_48_selenium/venv
day_52_instagram_follow_selenium/venv
day_54_backend_flask/venv
day_55_higher_lower_flask/venv
day_56_flask_personal_site/venv
day_56_name_card/venv
day_57_blog_templating_flask/venv
day_57_jinja_flask_URLs/venv
day_81_morse_code_converter/venv
day_83_tic_tac_toe/venv
day_101_google_forms_API/venv



# Pycharm configs
day_1_namebandgenerator/.idea
day_2_paymentrestaurantcalc/.idea
day_3_treasureisland/.idea
day_4_rockpaperscissors/.idea
day_5_text_passgen/.idea
day_7_hangman/.idea
day_15_coffee_machine/.idea
day_16_oop-coffee-machine/.idea
day_17_quiz-game-start/.idea
day_18_hirst_paint/.idea
day_18-start/.idea
day_19_start/.idea
day_20_21_snake_game/.idea
day_21-start/.idea
day_22_pong/.idea
day_23_turtle-crossing/.idea
day_24_mail_merge_project/.idea
day_25_pandas_squirrels/.idea
day_25_us-states-game/.idea
day_26_nato_alphabet/.idea
day_26_NATO-alphabet-2/.idea
day_27_tkinter_test/.idea
day_28-pomodoro/.idea
day_29_password-manager/.idea
day_30_exceptions_errors.py/.idea
day_31-flash-cards/.idea
day_32-Birthday Wisher/.idea
day_33_API/.idea
day_34_quizzler-app/.idea
day_35_API_keys_more/.idea
day_36_stock-news/.idea
day_37_API_HTTP_requests/.idea
day_38_workout_tracker_google_shit/.idea
day_39_day40_flight-deals/.idea
day_45_bs4/.idea
day_46_popular_music/.idea
day_47_price_scraper_ccc/.idea
day_48_selenium/.idea
day_52_instagram_follow_selenium/.idea
day_54_backend_flask/.idea
day_55_higher_lower_flask/.idea
day_56_flask_personal_site/.idea
day_56_name_card/.idea
day_57_blog_templating_flask/.idea
day_57_jinja_flask_URLs/.idea
day_81_morse_code_converter/.idea
day_83_tic_tac_toe/.idea
day_101_google_forms_API/.idea
